:root {
	--bg-dark: #111112;
	--bg-light: #1f1f25;
	--bg-lighter: #33333b;
	--box-border: #333333;
	--border-lighter: #444444;
	--hr-light-col: #666667;
	--text-col: #e8e8e8;
	--slider-light: #1dad8e;
	--slider-dark: #188c73;
	--button-light: #3648bf;
	--button-mid: #2d4c9f;
	--button-dark: #24307f;
	--link-color: #80c0ff;
	--invalid-color: #e85f84;
	--error-red: #eb3455;
}

* {
	font-family: sans-serif;
	box-sizing: border-box;
}

*:focus {
	outline: none;
	box-shadow: 0 0 0 2px var(--link-color);
}

a {
	color: var(--link-color);
}

body {
	background-color: var(--bg-dark);
}

p, h1, h2, h3, h4, h5, h6 {
	color: var(--text-col);
	margin: 5px;
	margin-top: 2px;
}

h6 {
	color: #bbb;
	font-weight: normal;
	font-size: 13px;
}

hr {
	color: var(--hr-light-col);
	background: var(--hr-light-col);
	border-color: var(--hr-light-col);
	width: 100%;
}

input[type="text"], input[type="number"] {
	background-color: var(--bg-lighter);
	border: 1px solid var(--border-lighter);
	color: var(--text-col);
	padding: 3px;
	margin: 2px;
	display: inline;
	width: 150px;
}

input[type="text"]:invalid, input[type="number"]:invalid {
	box-shadow: 0 0 0 3px var(--invalid-color);
}

label {
	color: var(--text-col);
	margin: 0px;
	margin-left: 5px;
	margin-right: 10px;
	font-size: 14px;
	display: inline;
}

li {
	color: var(--text-col);
	font-size: 14px;
}

.box {
	width: fit-content;
	background-color: var(--bg-light);
	padding: 10px;
	border: 1px solid var(--box-border);
	border-radius: 5px;
	-moz-border-radius: 5px;
	margin: 5px;
}

.boxwrapper {
	display: grid;
	grid-template-columns: auto auto;
}

.centered {
	display: flex;
	justify-content: center;
}

.centerheader {
	text-align: center;
	margin-top: 15px;
}

.controlgroup {
	display: flex;
	align-items: center;
	margin: 0px;
}

.controlgroup .controllabel {
	width: calc(50% - 90px);
	display: inline-block;
	text-align: right;
}

.inputlabel {
	font-size: 14px;
}

.inputcol {
}

.loud {
	color: red;
	font-weight: bold;
}

.slider {
	-webkit-appearance: none;
	appearance: none;
	width: calc(100% - 25px);
	height: 5px;
	border-radius: 2.5px;
	outline: none;
	background: #e0e0e0;
	opacity: 1;
	-weblit-transition: background .1s;
	transition: background .1s;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 10px;
	display: block;
}

.slider:hover {
	background: #c0c0c0;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 15px;
	height: 15px;
	background: var(--slider-light);
	cursor: pointer;
	border-radius: 50%;
	transition: background .1s;
}

.slider::-moz-range-thumb {
	width: 15px;
	height: 15px;
	background: var(--slider-light);
	cursor: pointer;
	border-radius: 50%;
	transition: background .1s;
}

.slider::-webkit-slider-thumb:hover {
	background: var(--slider-dark);
}

.slider::-moz-range-thumb:hover {
	background: var(--slider-dark);
}

.startsearchbox {
	background-color: var(--bg-lighter);
	width: 100%;
	padding: 10px;
	border-radius: 2.5px;
}

.timegroup {
	display: inline-flex;
	flex-direction: row;
}

input[type="number"].timeinput {
	width: 50px;
}

.timeinputcontainer {
	display: block;
	width: 55px;
}

.timetypelabel {
	font-size: 12px;
	color: #bbb;
}

#content {
	padding-top: 30px;
	width: fit-content;
	margin: auto;
}

#errormsg {
	color: var(--error-red);
	text-align: center;
	font-weight: bold;
	height: 15px;
}

#inputgrid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
}

#inputs {
	width: calc(100% - 10px);
}

#startsearch {
	background-image: linear-gradient(var(--button-light), var(--button-dark));
	color: white;
	border: none;
	font-size: 14px;
	padding: 7px;
	border-radius: 5px;
	transition: background-image .1s;
}

#startsearch:hover {
	background-image: linear-gradient(var(--button-mid), var(--button-dark));
}

#system {
	margin: auto;
	display: block;
}

#timelabel {
	text-align: center;
	font-size: 15px;
}

#trajdetails {
	display: flex;
	flex-direction: column;
	min-width: 100px;
	max-width: 320px;
	height: 0;
	min-height: calc(100% - 10px);
}

#trajdetailsp {
	background: #e8e8e8;
	color: black;
	font-family: monospace;
	flex-grow: 1;
	padding: 5px;
	border-radius: 2.5px;
	overflow-y: scroll;
}

@media (max-width: 670px) {
	.controlgroup .controllabel {
		display: block;
	}
}